<% if user_signed_in? %>
  <a class="item" href="/users/edit" > <i class="fi-torsos"></i> <label>Edit profile</label> </a> 
<% else %>
  <a class="item" href="/users/sign_up" > <i class="fi-torsos"></i> <label>Register</label> </a> 

<% end %>


