  <h1>Usuarios registrados en el sistema</h1>
  <table width="100%">
    <tr>
      <th>ID</th>  
      <th>Nombre</th>
      <th>E-mail</th>
      <th>Administrador</th>
   </tr>
    <%@users.each do |e|%>
    <tr>
      <td><%= e[:id] %></td>
      <td><%= e[:full_name] %></td>
      <td><%= e[:email] %></td>
      <td><%= e[:admin] ? "Si" : "No" %></td>
    </tr>
    <%end%>
  </table>
