<!--
To change this template use Tools | Templates.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Administrador de Aulas</title>
</head>
<body>
<h1>Bienvenido al Administrador de Aulas!</h1>

<p>Tenes que ingresar al sistema para poder usarlo</p>
</body>
</html>