<%if @resources.present? %>
  <p>Lista de aulas</p>
  <table width="100%">
    <tr>
      <th><%= t('name') %></th>
      <th>Descripcion</th>
   </tr>
    <%@resources.each do |r|%>
    <tr>
      <td><%= current_user.admin? ? (link_to r.name, resource_path(r.id)) : r.name %> </td>
      <td><%=r.description%></td>
      
    </tr>
    <%end%>
  </table>
<%else%>
  <p>No se encontro ninguna Aula</p>
<%end%>
