<%= link_to "Volver", resources_path %> |
<%if @availability.present? %>
  <p>Horarios disponibles</p>
  <table width="100%">
    <tr>
      <td>start</td>
      <td>finish</td>
   </tr>
    <%@availability.each do |a|%>
    <tr>
      <td><%=Time.parse(a[:start]).strftime('%F %R')%></td>
      <td><%=Time.parse(a[:finish]).strftime('%F %R')%></td>

      <td>
        <%= link_to "Reservar", new_resource_booking_path(:resource_id => params[:resource_id], :start => a[:start], :finish => a[:finish]) %>
      </td>
    </tr>
    </tr>
    <%end%>
  </table>
<%else%>
  <p>No Bookings Found</p>
<%end%>